# This is a dummy workflow file to test actions using actionlint.
# This workflow is never run.
name: test action (actionlint)
on: workflow_call
jobs:
  actionlint-action:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      # Client mode (with server_repository_name)
      - uses: ./
        with:
          app_id: dummy
          app_private_key: dummy
          server_repository_name: demo-server
          pull_request_number: 1

      # Server mode (without server_repository_name)
      - uses: ./
        with:
          app_id: dummy
          app_private_key: dummy
          github_token: xxx
